<header-directive></header-directive>

<div class="productViewPage">
  <div class="productViewContainer">
    <div class="topRowDiv">
      <button id="backToProducts" type="button" name="button" ng-click="backToProducts()">BACK</button>
      <h2 class="productViewTitle">{{product.title}}</h2>
    </div>

    <div class="imageAndCart">

      <div jquery-directive class="imageViewContainer">
        <div class="largeImage">
          <img class="productViewImageLarge" id="image4" src="{{product.image4}}" alt="">
          <img class="productViewImageLarge" id="image3" src="{{product.image3}}" alt="">
          <img class="productViewImageLarge" id="image2" src="{{product.image2}}" alt="">
          <img class="productViewImageLarge" id="image1" src="{{product.image1}}" alt="">
        </div>

        <div class="smallImage">
          <img class="productViewImage" id="smallImage1" src="{{product.image1}}" alt="">
          <img class="productViewImage" id="smallImage2" src="{{product.image2}}" alt="">
          <img class="productViewImage" id="smallImage3" src="{{product.image3}}" alt="">
          <img class="productViewImage" id="smallImage4" src="{{product.image4}}" alt="">
        </div>
      </div>

      <div class="productViewCart">

        <p class="productViewQuantity">Quantity</p>
        <select id="quantityForm" class="browser-default" ng-model="productQuantity">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
        </select>

        <p class="productViewQuantity">Color/Style</p>
        <select id="quantityForm" class="browser-default" ng-model="productColor">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Blue/Grey</option>
          <option value="2">Burgandy</option>
          <option value="3">Orange/Grey</option>
          <option value="3">Black/Yellow</option>
        </select>

        <ul>
          <li class="productViewTotal">Total:</li>
          <li class="productViewPrice">{{product.price | currency}}</li>
        </ul>


        <button type="button" name="button" ng-click="addToCart(productQuantity, productColor)">ADD TO CART</button>
      </div>
    </div>


    <div class="productViewDescriptionContainer">
      <div class="productViewDescriptionTitle">PRODUCT INFORMATION</div>
      <!-- <div class="productViewFeaturesTitle">FEATURES</div> -->
      <div class="productViewDescription">{{product.description}}</div>
    </div>

  </div>
</div>
<footer-directive></footer-directive>
