<header-directive></header-directive>

<div class="productViewPage">
  <div class="productViewContainer">
    <div class="topRowDiv">
      <button id="backToProducts" type="button" name="button" ng-click="backToProducts()"><i class="material-icons">keyboard_backspace</i></button>
    </div>

    <div class="imageAndCart">

      <div jquery-directive class="imageViewContainer">
        <div class="largeImage">
          <img class="productViewImageLarge" id="image4" src="{{product.image4}}" alt="">
          <img class="productViewImageLarge" id="image3" src="{{product.image3}}" alt="">
          <img class="productViewImageLarge" id="image2" src="{{product.image2}}" alt="">
          <img class="productViewImageLarge" id="image1" src="{{product.image1}}" alt="">
        </div>

        <div class="smallImage">
          <img class="productViewImage" id="smallImage1" src="{{product.image1}}" alt="">
          <img class="productViewImage" id="smallImage2" src="{{product.image2}}" alt="">
          <img class="productViewImage" id="smallImage3" src="{{product.image3}}" alt="">
          <img class="productViewImage" id="smallImage4" src="{{product.image4}}" alt="">
        </div>
      </div>

      <div class="productViewCart">
        <h2 class="productViewTitle">{{product.title}}</h2>
        <p class="productViewQuantity">Quantity:<input id="quantityForm" min="1" type="number" name="" value="1">
</p>

        <ul>
          <li class="productViewTotal">Total: <span>{{product.price | currency}}<span></li>
        </ul>

        <div class="productViewDescription">{{product.description}}</div>



        <div class="addToCart" ng-click="addToCart(productQuantity, productColor)">ADD TO CART</button>
      </div>
    </div>



  </div>
</div>
</div>
<footer-directive></footer-directive>
