<header-directive></header-directive>
<div class="profilePage">
<div class="changeAccountSettings">
  <h3>Account Profile</h3> </br>
  <button class="edit" type="button" name="button" ng-click="updateInfo()">Edit</button></br>
  <p>Name:</br> <input type="text" name="name" value="{{user.name}}" readonly="true"></p></br>
  <p>Email:</br> <input type="text" name="name" value="{{user.email}}" readonly></p></br>
  <p>Password:</br> <input type="text" name="name" value="&#8226&#8226&#8226&#8226&#8226&#8226&#8226&#8226" readonly></p></br>
  <button class="signOut" type="button" name="button" ng-click="signOut()">Sign Out</button>
</div>

<modal-directive></modal-directive>

</div>
<footer-directive></footer-directive>
