.adminBody {
  height: 700px;
  width: 100%;
  background-color: #F6F6EF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid red;
}

.addProduct {
  height: 450px;
  width: 55%;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.addProduct button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.addProduct button:active {
  color: #fff;
  background-color: #000;
}

.addProduct input {
  width: 30%;
  height: 40px;
  margin-top: 5px;
  margin-left: 70px;
  padding: 4px 9px;
  outline: none;
}

.addProduct textarea {
  width: 90%;
  height: 80px;
  max-height: 80px;
  max-width: 663px;
  margin-top: 5px;
  margin-left: 35px;
  padding: 4px 9px;
  outline: none;
}

.addProduct h3 {
  margin-top: 15px;
  margin-left: 35px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;
}

.deleteProduct {
  height: 450px;
  width: 30%;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.deleteProduct h3 {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}


.productDeleteInput {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  margin-left: 35px;
  outline: none;
}

.addFields {
    margin-top: 15px;
}

.addField {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  margin-top: 10px;
  outline: none;
}

.addField:active {
  color: #fff;
  background-color: #000;
}

.removeProducts {
  width: 80px;
  height: 40px;
  margin-left: 15px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  margin-top: 10px;
  outline: none;
}

.removeProducts:active {
    color: #fff;
    background-color: #000;
}

.remove {
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
    margin-top: 15px;
}

.productDeleteInput {
    padding: 5px;
}
