.pageWrap {
  min-height: 100vh;
  display: flex;
  background-color: #F6F6EF;
}

.cartPage {
  margin-top: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cartTitleBar {
  width: 900px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemsInCart {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartContainer {
  border: 1px solid orange;
  border-radius: 5px;
  width: 900px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #DEDEDE;
}

.cartContainer h2 {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}


.cartItemQuantityView {
  width: 50px;
  height: 40px;
  outline: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
}

.cartQuantity {
  font-family: 'Montserrat', sans-serif;
}

.cartTotal {
  font-family: 'Montserrat', sans-serif;
}

.cartProduct {
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.itemsInCart {
  width: 900px;
  align-items: center;
  border-top: 1px solid #DEDEDE;
}

.cartItemImage {
  width: 140px;
  height: 140px;
  align-self: flex-start;
}

.cartItemName {
  width: 350px;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;
}

.cartItemQuantity {
  margin-left: 25px;
}

.cartItemProductPrice {
}

.cartSubtotal {
  width: 900px;
  background-color: #fff;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}

.subTotal {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.subTotalText {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.checkOut {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  width: 190px;
  height: 40px;
  background-color: #E67B14;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fff;
}

.checkOut:active {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #000;
}
