.cartPage {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F6F6EF;
}

.cartContainer {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  width: 950px;
  position: absolute;
  left: 235px;
  top: 175px;
  margin-bottom: 100px;
}

.cartContainer h2 {
  margin-top: 12px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.itemsInCart {
  margin-top: 5px;
  border-bottom: 1px solid #DEDEDE;
}

.cartTitleBar {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  height: 40px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #DEDEDE;
}

.cartTitleBar li {
  float: left;
  margin-top: 20px;
}

.cartTitleBar .cartProduct {
  position: absolute;
  left: 20px;
}

.cartTitleBar .cartItem {
  position: absolute;
  left: 200px;
}

.cartTitleBar .cartQuantity {
  position: absolute;
  right: 280px;
}

.cartTitleBar .cartTotal {
  position: absolute;
  right: 20px;
}

.itemsInCart {
  width: 100%;
  height: 200px;
}

.cartItemImage {
  height: 200px;
  width: 190px;
  position: absolute;
}

.cartItemName {
  height: 200px;
  width: 390px;
  position: absolute;
  left: 190px;
}

.cartItemQuantity {
  height: 200px;
  width: 190px;
  position: absolute;
  right: 176px;
}

.cartItemQuantityView {
    width: 60%;
    height: 40px;
    outline: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    position: absolute;
    left: 0px;
    top: 75px;
}

.cartItemProductPrice {
  height: 200px;
  width: 140px;
  position: absolute;
  right: 0px;
}

.cartItemProductPrice h3 {
  position: absolute;
  top: 75px;
  right: 20px;
  text-align: right;
}

.subTotal {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.subTotalText {
  display: inline-block;
  position: absolute;
  right: 5px;
}

.checkOut {
  width: 190px;
  height: 40px;
  margin-left: 35px;
  background-color: #E67B14;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  outline: none;
  position: absolute;
  right: 5px;
  bottom: -250px;
  margin-bottom: 100px;
}

.checkOut:active {
  color: #fff;
  background-color: #000;
}

.checkOut:active .modal {
  display:inline;
}
