.contactPage {
  height: 100%;
  width: 100%;
  background-image: url("../assets/contactus.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.contactContainer {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 410px;
  width: 400px;
  margin-left: 10%;
}

.contactContainer input {
width: 80%;
height: 40px;
margin-top: 5px;
margin-left: 35px;
outline: none;
font-family: 'Montserrat', sans-serif;
}

.contactContainer textarea {
  width: 80%;
  height: 120px;
  max-height: 120px;
  max-width: 80%;
  margin-top: 5px;
  margin-left: 35px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.contactContainer button {
width: 80px;
height: 40px;
margin-left: 35px;
background-color: #fff;
border: 1px solid #DEDEDE;
outline: none;
font-family: 'Montserrat', sans-serif;
}

.contactContainer button:active {
color: #fff;
background-color: #000;
}

.contactContainer h3 {
margin-top: 15px;
margin-left: 35px;
font-family: 'Montserrat', sans-serif;
}
