.loginPage {
  height: 100%;
  width: 100%;
  background-color: #F6F6EF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signUp {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 70px;
  height: 400px;
  width: 400px;
}

.loginToAccount {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 250px;
  width: 400px;
}

.signUp input {
  width: 80%;
  height: 40px;
  margin-left: 35px;
  margin-bottom: 10px;
  outline: none;
}

.signUp button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.signUp button:hover {
  color: #000;
  background-color: #dedede;
}

.signUp h3 {
  margin-top: 15px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}

.loginToAccount input {
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 35px;
  outline: none;
  margin-bottom: 10px;

}

.loginToAccount button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.loginToAccount button:hover {
  color: #000;
  background-color: #dedede;
}

.loginToAccount h3 {
  margin-top: 20px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}


/*@media screen and (max-width:886px) {

.loginPage {
  height: 100%;
  width: 100%;
  background-color: #F6F6EF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signUp {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 70px;
  height: 400px;
  width: 300px;
}

.loginToAccount {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 250px;
  width: 300px;
}

.signUp input {
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 35px;
  outline: none;
}

.signUp button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.signUp button:hover {
  color: #000;
  background-color: #dedede;
}

.signUp h3 {
  margin-top: 15px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}

.loginToAccount input {
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 35px;
  outline: none;
}

.loginToAccount button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.loginToAccount button:hover {
  color: #000;
  background-color: #dedede;
}

.loginToAccount h3 {
  margin-top: 20px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}
}

@media screen and (max-width:650px) {

.loginPage {
  height: 100%;
  width: 100%;
  background-color: #F6F6EF;
  display: flex;
  flex-direction: column-reverse;
}

.signUp {
  margin-top: 10px;
  margin-bottom: 75px;
  margin-right: 0px;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  width: 350px;
}

.loginToAccount {
  margin-top: 215px;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 250px;
  width: 350px;
}

.signUp input {
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 35px;
  outline: none;
}

.signUp button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.signUp button:hover {
  color: #000;
  background-color: #dedede;
}

.signUp h3 {
  margin-top: 15px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}

.loginToAccount input {
  width: 80%;
  height: 40px;
  margin-top: 5px;
  margin-left: 35px;
  outline: none;
}

.loginToAccount button {
  width: 80px;
  height: 40px;
  margin-left: 35px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.loginToAccount button:hover {
  color: #000;
  background-color: #dedede;
}

.loginToAccount h3 {
  margin-top: 20px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}
}*/
