.profilePage {
  height: 100%;
  background-color: #F6F6EF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeAccountSettings {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.changeAccountSettings h3 {
  margin-top: 15px;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

.changeAccountSettings p {
  margin-left: 10px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.changeAccountSettings .edit {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  align-self: flex-start;
  outline: none;
}

.changeAccountSettings .edit:active {
  color: #fff;
  background-color: #000;
}

.changeAccountSettings input {
  width: 60%;
  height: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  outline: none;
}

.signOut {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  align-self: flex-start;
  outline: none;
}

.signOut:active {
  color: #fff;
  background-color: #000;
}
