.shopContainer {
  width: 85%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  padding-top: 70px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.productContainer {
  border: 1px solid #dedede;
  height: 260px;
  width: 270px;
  margin: 30px 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
  padding-top: 5px;
  box-shadow: 0px 0px 8px 1px #eaeaea;
  position: relative;
}

.productHighlight {
  position: absolute;
  height: 260px;
  width: 270px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  visibility: hidden;
}

.productContainer:hover .productHighlight {
  transition: 0.4s;
  visibility: visible;
}

.shopProductTitle {
  height: 20%;
  font-size: 13px;
}

.productImage {
  height: auto;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.viewProduct {
  display: none;
  color: #ffffff;
  background-color: black;
  text-align: center;
  width: 270px;
  padding: 10px;
  margin-top: auto;
}

.productContainer:hover .viewProduct {
  display: block;
}*/
