.updateProfilePage {
  height: 650px;
  width: 100%;
  position: relative;
  background-color: #F6F6EF;
}

.updateProfileSettings {
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 5px;
  height: 450px;
  width: 400px;
  position: absolute;
  top: 160px;
  left: 100px;
}

.updateProfileSettings h3 {
  margin-top: 15px;
  margin-left: 35px;
  font-family: 'Montserrat', sans-serif;
}

.updateProfileSettings p {
  margin-left: 10px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.updateProfileSettings button {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  outline: none;
}

.updateProfileSettings button:active {
  color: #fff;
  background-color: #000;
}

.updateProfileSettings input {
  width: 60%;
  height: 36px;
  margin-top: 0px;
  margin-left: 10px;
  outline: none;
}
